<div class="crafted">
	<div class="cover_grey">
	
		<div class="sell_title_red">
			Welcome to the JURY
		</div>

		<div class="image_two">
			<%= image_tag('jurysell.png', size: '650x488') %>
		</div>	

	</div>
</div>	