<div class="crafted">
	<div class="cover_grey">
	
		<div class="sell_title_red">
			We've added <%= @email %> to the JURY BETA list	
		</div>

		<div class="image_two">
			<%= image_tag('jurysell.png', size: '650x488') %>
		</div>	

	</div>
</div>	