<div class="grey_footer">
	<div class="foot_center">
	&copy; 2014 JURY, Inc. by <%= link_to("Chris Finlayson", "https://twitter.com/chrisjfin") %> 

		<div class="footer_social">
		<%= link_to image_tag("twitter-32.png"), "http://twitter.com/thejuryco", :target => "_blank" %>
		</div>
	</div>
</div>	