<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><%= link_to "JURY", root_path %></div>
        <ul class="nav navbar-nav navbar-right"> 
          <li><%= link_to "Sign Up", new_user_path %></li>
          <!-- <li><%= link_to "Blog", "#" %></li> -->
        </ul>
    </div>
  </div>
</header>